# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [6]:
x=3
x=float(x)
type(x)

float

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [7]:
yaş1=17
yaş2=18
yaş3=20
yaş1>yaş2>yaş3

False

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [13]:
a=int(input("birinci değeri gir:"))
b=int(input("ikinci değeri gir:"))
toplama=a+b
çıkarma=a-b
çarpma=a*b
bölme=a/b
print(toplama)
print(çıkarma)
print(çarpma)
print(bölme)

birinci değeri gir:9
ikinci değeri gir:7
16
2
63
1.2857142857142858

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [9]:
isim=input("isminizi girin:")
şehir=input("şehrinizi girin:")
meslek=input("mesleğinizi girin:")
print(isim)
print(şehir)
print(meslek)

isminizi girin:Gamze
şehrinizi girin:İstanbul
mesleğinizi girin:Data Scients
Gamze
İstanbul
Data Scients

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [14]:
a="Hi-Kod Veri Bilimi Atölyesi"
print(a.split(" "))

['Hi-Kod', 'Veri', 'Bilimi', 'Atölyesi']

In [17]:
a.upper()

'HI-KOD VERI BILIMI ATÖLYESI'

In [18]:
a.lower()

'hi-kod veri bilimi atölyesi'